<img src="pokemon img" alt="">

<div>
<h1>{{pokemon.name}}</h1>
<img src="{{pokemon.sprites.front_default}}">
<strong>Height:</strong>
<p> {{pokemon.height}}</p>
<strong>Weight:</strong>
<p> {{pokemon.weight}}</p>
</div>

<form method ="post" action="/pokemons/{{pokemon.name}}/{{pokemon.height}}/{{pokemon.weight}}">
<button>+</button>
</form>

</div>

 <footer>
      <div class="footer-container">
      <a href="/pokemons"><img  src="images/layout/bleu-poke.png" alt=""></a>
        <p>Return</p> 
      </div>
    </footer>