<img src="pokemon img" alt="">

<div>
<h1>{{pokemon.name}}</h1>
<img src="{{pokemon.sprites.front_default}}">
<strong>Height:</strong>
<p> {{pokemon.height}}</p>
<strong>Weight:</strong>
<p> {{pokemon.weight}}</p>
{{#each pokemon.types}}
<p>{{this.type.name}}</p>
{{/each}}
</div>

<form method="post" action="/pokemons/create">
<input type="hidden" name="name" value={{pokemon.name}}>
<input type="hidden" name="height" value={{pokemon.height}}>
<input type="hidden" name="weight" value={{pokemon.weight}}>
{{!-- <input type="hidden" name="stats" value={{pokemon.stats}}>
<input type="hidden" name="moves" value={{pokemon.moves}}> --}}

<input type="hidden" name="types" value={{#each pokemon.types}}{{this.type.name}}{{#unless @last}},{{/unless}}{{/each}}>
<input type="hidden" name="stats" value={{#each pokemon.stats}}{{this.stat.name}}{{#unless @last}},{{/unless}}{{/each}}>
<input type="hidden" name="moves" value={{#each pokemon.moves}}{{this.move.name}}{{#unless @last}},{{/unless}}{{/each}}>
<button>+</button>
</form>

</div>

 <footer>
      <div class="footer-container">
      <a href="/pokemons"><img  src="images/layout/bleu-poke.png" alt=""></a>
        <p>Return</p> 
      </div>
    </footer>