<h1>Welcome to your page</h1>

<h2>{{pseudo}}</h2>
<h3>{{region}}</h3>
<p>{{email}}</p>

<a href="/users/edit/{{_id}}">Update</a>
<a href="/users/delete/{{_id}}">Delete your account</a>

<h3>Your pokemons:</h3>
{{#each pokeFav}}
<img src="{{this.image}}">
<p>{{this.name}}</p>
{{/each}}
